---
layout: layouts/post.njk
title: "Expectations"
date: 2026-09-17
image: ../../images/posts/2024-01-16.jpg
draft: false
permalink: "/blog/{{ page.fileSlug }}/"
github_url: "https://github.com/hanleyjames"
---

<h2>Warm welcomes and expecations</h2>
<p>The last time I tried to write content for a blog life moved on fast. Dolby took over a wonderful company I worked for. Like most aquisitions, it was an abysmal failure. They enforced RTO, and ignored legitimate plans to solve the migration between two systems that managed patent billing differently. My old Director, Shawn Beeson (Whom I consider an incredibly brilliant, kind, and hilarious boss) handed the company a roadmap. It was a strategy of incremental change that accepted nuance, failure, conflict and resolution. Unfortunately his plan got taken by Dolby's director who did not know what he was doing, and made a lot of poor assumptions. His failures lead to him retiring. Instead of bringing Shawn in, we then brought in a new director. Dolby re-neged on almost everything they promised, including no more layoffs. It was exhausting.</p>
<p>I relocated to New York to process what had happened. In that process I stepped away from pursuing my Undergrad in Computer Science, and spent time interviewing and studying Malware. Since then I have gotten a job, run my own company and am going to school again. Life has been insanely busy, but emotionally rewarding. I am studying Calculus and Discrete Mathematics. I have been getting great grades and enjoying what life has been. I will spend more time gathering my thoughts here, if not just posting short stuff either about my studies, work or passion projects.</p>
<p>The major thing I would like to do this year is to translate a set of French journals to English on Deleuze that are no longer in print. They do not exist translated either. I do not think I will get sued over it, because at the end of the day, they no longer exist. I will still also do some malware writeups ocassionally, because they are fun. I have to be more careful now, considering I no longer have "fun" computers, just computers for work.</p>